.header {
  background-color:black;
}
.main {
  background-color: red;
}
.footer {
height: 240px;
background: green;
display: flex;
flex-direction: row;
  justify-content: center;
}

footer p {
  /* font-size: 22px; */
  display: block;
  width: 200px;

}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
.overlay {
  position: relative;
  background-image: url(http://emmacebrian.info/images/marineforests/2022-08-26_Cala_Estretal_0401.jpg);
  background-size: cover;
  background-position: center;
  height: 720px; /* Full viewport height */
  width: 100%; /* Full width */
  opacity: 0.7;
  z-index: 1;
}
.nav {
position: absolute;
margin: 0;
z-index: 2;
width: 100%;

}
.menu {
    display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 40px;
  list-style: none;
  color: white;
  font-size: 32px;
}
ul.menu > li {
  padding: 20px;
}
.aboutUs {
  height: 200px;
  background: #000;
}
.SectionWrapper {
  margin: 0 auto;
    width: 1200px;
}
.SectionMembers {
  margin: 0 auto;
  width: 1200px;
}
.labMemberWrapper {
  display: flex;
  flex-direction: column;
}
.MemberImage {
  width: 210px;
}
.page__background {
  top: 0;
  right: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 120%;
  opacity: 0.4;
  position: fixed;
  z-index: 1;
  background-color: black;
}

.page__background_opened {
  display: flex;
}
.memberDescr {
 display: flex;
 flex-direction: column;
    position: fixed;
    visibility: hidden;
    opacity: 1;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
    left: calc(50% - 215px);
    top: calc(50% - 115px);
    /* background: #ffffff; */
    /* box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15); */
    border-radius: 10px;
    padding: 0 36px 36px 36px;
    z-index: 2;
  
}
.memberDescrOpen {
visibility: visible;
}
.person-card-container {
  display: flex;
  width: 1280px;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}
.person-card-container img {
  /* Style for child <img> elements */
  min-width: 350px;
}
.person-card-container p {
  /* Style for child <img> elements */
  display: none;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Background overlay */
  display: none;
  /* Initially hidden */
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup_opened {
  display: flex;
  /* Display the popup when open */
}

.popup__content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  text-align: center;
  position: relative;
}

.popup__close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}